<!DOCTYPE html>
<html>

<head>
	<title>Vector Script GUI</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = "style.css")}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

</head>
	
<body>

<div id="particles-js">
	<p class="text--glitch" data-text="VECTOR SCRIPT">
		VECTOR SCRIPT
	</p>

	<a class="btn btn-white btn-mid" href="#hlavne">LET'S GO!</a>
</div>

<hr class="rounded">


	<div class="hlavne" id="hlavne">

		<div id="typed" class="typed"></div>
	<div class="hlavne 2">
	<section id="form_text">
		<form method="POST" action="/render">
			<textarea name="ves">VES v1.4 400 300</textarea>
			<button class="btn">Zobraziť</button>
		</form>
	</section>
	<section class="output">
		<img id="output" />
	</section>

	</div>
	</div>


	<script type="text/javascript" src="{{url_for('static', filename = "script.js")}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename = "particles.js")}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename = "app.js")}}"></script>
</body>

</html>