<!DOCTYPE html>
<html>
<head>
	<title>Vector Script GUI</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = "style.css")}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
		integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
</head>
<body>
<header id="header">VECTOR SCRIPT GUI</header>
<section id="form_text">
	<form method="POST" action="/render">
		
		<textarea name="ves"></textarea>
		<button class="btn">Zobraziť</button>
	</form>
</section>
<section>
	<img id="output" />
</section>
<script type="text/javascript" src="{{url_for('static', filename = "script.js")}}" ></script>
</body>
</html>