*::before,
*::after {
	box-sizing: border-box;
}


:root {
	--ff-primary: 'Source Sans Pro', sans-serif;
	--ff-secondary: 'Source Code Pro', monospace;

	--fw-reg: 300;
	--fw-bold: 900;

	--clr-light: #FFFFFF;
	--clr-dark: #000000;
	--clr-accent: #26f7d4;

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;
}

@media (min-width: 800px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}

/* General styles */

html {
	scroll-behavior: smooth;
}

body {
	background: var(--clr-light);
	color: var(--clr-dark);
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	line-height: 1.6;
}

section {
	padding: 5em 2em;
	
}

img {
	display: block;
	max-width: 100%;
}


/* Typography */

h1,
h2,
h3 {
	line-height: 1.1;
	margin: 0;
}

h1 {
	font-size: var(--fs-h1)
}

h2 {
	font-size: var(--fs-h2)
}

h3 {
	font-size: var(--fs-h3)
}


strong {
	font-weight: var(--fw-bold)
}





header {
	font: var(--ff-primary);
	font-size: var(--fs-h3);
	font-weight: var(--fw-bold);
	color: var(--clr-light);
	padding: 0;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	top: 0;
	background-color: var(--clr-dark);
	margin-top: 0;
	width: 100%;
	z-index: 100;
}

/* Buttons */

button {
	display: inline-block;
	padding: .5em 2em;
	margin-top: 4rem;
	background: var(--clr-dark);
	color: var(--clr-light);
	text-decoration: none;
	cursor: pointer;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: var(--fw-bold);
	transition: transform 200ms ease-in-out;
}

button:hover {
	transform: scale(1.1);
}

button+.btn {
	margin: 4rem;
	align-self: center;

}

form_text{
	padding: 3em;
	text-align: left;
}
body {
	display: flex;
}
body > section {
	flex-basis: 50%;
}
textarea {
	width: 25em;
	height: 25em;
	
	line-height: 150%;
	resize: vertical;
	background-color: lightslategray;
	

}
img {
	width: 100%;
	height: auto;
}