html {
	scroll-behavior: smooth;
}

body {
	background-size: cover;
	background-image: url(https://wallpapercave.com/wp/wp7558378.jpg);
}

head {
	background-color: linear-gradient(to bottom, #000000 38%, #ffffff 100%);
}

.hlavne {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr .5fr .5fr;
	grid-template-rows: 1fr 7fr 1fr;
	/*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/

	background-image: url(https://wallpapercave.com/wp/wp7558378.jpg);

	background-size: cover;

	/*ackground-size: 400% 400%;
	animation: gradient 15s ease infinite;*/
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

hr{
	margin-top: 5em;
}

/* aby to bolo na celu obrazovku */
#particles.js {
	width: 100%;
	height: 100vh;
	background-color: #000000;


}

.particles {
	background-color: #000000;

}







/* nadpisy na hlavnej strane aby boli v strede */

p {
	color: rgb(255, 255, 255);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn-white {
	color: white;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -80%);
	text-decoration: none;
}

.btn-mid2{
	position: absolute;
	top: 91%;
	left: 50%;
	transform: translate(-50%, -80%);
	text-decoration: none;

}

textarea {
	/*background-color: transparent;*/
	color: rgb(205, 202, 202);
	background-color: black;
	width: 380px;
	height: 400px;
	border: 3px solid rgb(0, 0, 0);
	grid-row: 2;
	grid-column: 1;



}





/* GLITCH TEXT */

*,
*::before,
*::after {
	box-sizing: border-box;
}


.text--glitch {

	font-size: 3rem;
	top: 40%;
	left: 50%;
	position: center;
	font-weight: 700;
	letter-spacing: .025em;
	text-transform: uppercase;

	text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
		-.05em -.025em 0 rgba(0, 255, 0, .75),
		.025em .05em 0 rgba(0, 0, 255, .75);

	animation: glitch 800ms infinite;
}

.text--glitch::before,
.text--glitch::after {
	content: attr(data-text);
	position: absolute;
	letter-spacing: .025em;
	top: 0;
	left: 0;
	opacity: .7;
}

.text--glitch::before {
	animation: glitch 675ms infinite;
	transform: translate(-.035em, -.025em);
	clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}

.text--glitch::after {
	animation: glitch 333ms infinite;
	transform: translate(.035em, .025em);
	clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
}

@keyframes glitch {
	0% {
		text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
			-.05em -.025em 0 rgba(0, 255, 0, .75),
			.025em .05em 0 rgba(0, 0, 255, .75);
	}

	14% {
		text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
			-.05em -.025em 0 rgba(0, 255, 0, .75),
			.025em .05em 0 rgba(0, 0, 255, .75);
	}

	15% {
		text-shadow: -.05em -.025em 0 rgba(255, 0, 0, .75),
			.025em .025em 0 rgba(0, 255, 0, .75),
			-.05em -.05em 0 rgba(0, 0, 255, .75);
	}

	49% {
		text-shadow: -.05em -.025em 0 rgba(255, 0, 0, .75),
			.025em .025em 0 rgba(0, 255, 0, .75),
			-.05em -.05em 0 rgba(0, 0, 255, .75);
	}

	50% {
		text-shadow: .025em .05em 0 rgba(255, 0, 0, .75),
			.05em 0 0 rgba(0, 255, 0, .75),
			0 -.05em 0 rgba(0, 0, 255, .75);
	}

	99% {
		text-shadow: .025em .05em 0 rgba(255, 0, 0, .75),
			.05em 0 0 rgba(0, 255, 0, .75),
			0 -.05em 0 rgba(0, 0, 255, .75);
	}

	100% {
		text-shadow: -.025em 0 0 rgba(255, 0, 0, .75),
			-.025em -.025em 0 rgba(0, 255, 0, .75),
			-.025em -.05em 0 rgba(0, 0, 255, .75);
	}
}


@media(prefers-reduced-motion: reduce) {

	*,
	*::before,
	*::after {
		transition-delay: 0s !important;
		animation-delay: -1ms !important;
		scroll-behavior: auto !important;
		animation-duration: 1ms !important;
		transition-duration: 0s !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
	}
}



/* BUTTON LETS GO */
.btn-mid {
	border-radius: 0px;
	text-decoration: none;
	padding: 15px 20px;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	font-family: 'Times New Roman', serif;
	font-weight: 800;
	letter-spacing: 3px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}


.btn:hover,
input[type="submit"]:hover {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}



.btn-white {
	border: solid 2px #fff;
	background: transparent;
	color: #fff !important;
}

.btn-white:hover {
	border: solid 2px #fff;
	background: rgb(61, 61, 61);
	color: #fffcfc !important;
}



/* typewriter pismo */
.typed {
	grid-column-start: 1;
	grid-column-end: 4;
	display: inline;
	color: rgb(2, 2, 2);
	font-size: 130%;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	vertical-align: text-bottom;
	margin-bottom: 3em;
	margin-top: 3em;
}

.typed::after {
	content: "|";
	font-size: 150%;
	animation: blink .60s step-end infinite;
}

@keyframes blink {

	from,
	to {
		color: transparent
	}

	50% {
		color: rgba(245, 245, 245)
	}
}


/* ZOBRAZIŤ*/
.click {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 20px;
	text-align: center;
	color: rgb(0, 0, 0);
	padding: 1%;
	text-transform: uppercase;
	background-color: rgb(202, 202, 202);
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.click {
	text-decoration: none;
	margin-bottom: .8em;
	margin-top: .8em;
	border: solid 2px rgb(192, 190, 190);
	background: transparent;
	color: rgb(255, 255, 255) !important;
	margin-left: .5em;}

.click:hover {
	border: solid 2px rgb(255, 255, 255);
	background: rgb(255, 255, 255);
	color: #000000 !important;
}
.click2{
	background-color: black;
	border:solid 2px #000000;
	font-size: 25px;
	font-weight: 50;
}






#vykresli{
	grid-row: 3;
	grid-column: 1;

}

.output {

	background-color: #fff;
	grid-template-columns: 2/4;
	grid-row: 2;
	width: 600px;
	height: 400px;
	align-self: top;
	align-self: right;
	border-spacing: 10px;

}

.form_text {
	grid-column: 1;
	grid-row: 2;
	align-self: right;
	padding-left: 10em;
}


.box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;

}

.box textarea {
	position: relative;
	font-size: 10em;
	z-index: 10;
}


.vykresli {
	width: 600px;
	height: 400px;
}


.pata {
	display: flex;
	font-size: 3vh;
	font-size: 28px;
	text-align: center;
	
}
#download{
	margin-top: 0em;
	grid-column: 1;
	grid-row: 3;
	
	
}


footer {

	font-size: 22px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: #000000;
	color: #fff;

	position: center;
	text-align: center;
	height: 150px;
}

pre {
	color: rgb(255, 255, 255);
	position: center;
}



.tutorial{
	background-color: #000000;
	text-align: center;
	margin-top: 2em;
	align-self: center;
}





/*INDEX:HTML*/

.hlavne2{
	padding-top: 3em;
	background-color: #000000;
	color: rgb(167, 167, 167);
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h2{
	color: rgb(255, 255, 255);
}



.loading {
	min-width: 203px;
	position: relative;
	display: inline-block;
	background: conic-gradient(from var(--angle),
			#ee6297 0deg 90deg,
			#EFF1F4 90deg 360deg);
	border-radius: 3px;
	animation: 3s rotate linear infinite;
	color: rgba(55, 57, 76, 0.3);
	z-index: 1;
	font-family: sans-serif;
	font-size: 12px;
}

.loading::before {
	content: "";
	background: #FFFFFF;
	border-radius: 2px;
	/* 1px smaller */
	position: absolute;
	top: 3px;
	bottom: 3px;
	left: 3px;
	right: 3px;
	z-index: -1;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}




