
html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}


body>section {
	flex-basis: 50%;
}

textarea {
	margin: 8%;
	width: 80%;
	height: 90vh;
}

img {
	width: 80%;
	height: auto;
}


.hlavne {display: grid;
grid-template-columns: repeat(2, 1fr);


}
.form_text{
	grid-column: auto;
	padding-left: 10%;
}

.output {
	grid-column: auto;
	padding-right: 10%;
}


*,
*::before,
*::after {
	box-sizing: border-box;
}


.text--glitch {
	
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: .025em;
	text-transform: uppercase;

	text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
		-.05em -.025em 0 rgba(0, 255, 0, .75),
		.025em .05em 0 rgba(0, 0, 255, .75);

	animation: glitch 525ms infinite;
}

.text--glitch::before,
.text--glitch::after {
	content: attr(data-text);
	position: absolute;
	letter-spacing: .025em;
	top: 0;
	left: 0;
	opacity: .7;
}

.text--glitch::before {
	animation: glitch 675ms infinite;
	transform: translate(-.035em, -.025em);
	clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}

.text--glitch::after {
	animation: glitch 333ms infinite;
	transform: translate(.035em, .025em);
	clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
}

@keyframes glitch {
	0% {
		text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
			-.05em -.025em 0 rgba(0, 255, 0, .75),
			.025em .05em 0 rgba(0, 0, 255, .75);
	}

	14% {
		text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
			-.05em -.025em 0 rgba(0, 255, 0, .75),
			.025em .05em 0 rgba(0, 0, 255, .75);
	}

	15% {
		text-shadow: -.05em -.025em 0 rgba(255, 0, 0, .75),
			.025em .025em 0 rgba(0, 255, 0, .75),
			-.05em -.05em 0 rgba(0, 0, 255, .75);
	}

	49% {
		text-shadow: -.05em -.025em 0 rgba(255, 0, 0, .75),
			.025em .025em 0 rgba(0, 255, 0, .75),
			-.05em -.05em 0 rgba(0, 0, 255, .75);
	}

	50% {
		text-shadow: .025em .05em 0 rgba(255, 0, 0, .75),
			.05em 0 0 rgba(0, 255, 0, .75),
			0 -.05em 0 rgba(0, 0, 255, .75);
	}

	99% {
		text-shadow: .025em .05em 0 rgba(255, 0, 0, .75),
			.05em 0 0 rgba(0, 255, 0, .75),
			0 -.05em 0 rgba(0, 0, 255, .75);
	}

	100% {
		text-shadow: -.025em 0 0 rgba(255, 0, 0, .75),
			-.025em -.025em 0 rgba(0, 255, 0, .75),
			-.025em -.05em 0 rgba(0, 0, 255, .75);
	}
}


@media(prefers-reduced-motion: reduce) {

	*,
	*::before,
	*::after {
		transition-delay: 0s !important;
		animation-delay: -1ms !important;
		scroll-behavior: auto !important;
		animation-duration: 1ms !important;
		transition-duration: 0s !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
	}
}




.btn-mid {
	border-radius: 0px;
	text-decoration: none;
	padding: 14px 21px;
	font-size: 28px;
	line-height: 30px;
	text-transform: uppercase;
	font-family: 'Times New Roman', serif;
	font-weight: 800;
	letter-spacing: 3px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}


.btn:hover,
input[type="submit"]:hover {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}



.btn-white {
	border: solid 2px #fff;
	background: transparent;
	color: #fff !important;
}

.btn-white:hover {
	border: solid 2px #fff;
	background: #fff;
	color: #1f1f1f !important;
}


hr.rounded {
	border-top: 8px solid #bbb;
	border-radius: 5px;
}